<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Rains" content="http://www.ldted.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="msapplication-tap-highlight" content="no"/>
    <script src="http://webapi.amap.com/maps?v=1.3&key=f0e133a8c4994fc745c5cba6668d9925"></script>
    <script src="https://cdn.staticfile.org/blueimp-md5/2.6.0/js/md5.min.js"></script>
    <script src="https://cdn.staticfile.org/js-cookie/latest/js.cookie.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
<!--     <script src="app/resources/flexibility.js"></script> -->
</head>
<body>
	<div id="container">
    </div>
</body>
</html>