.life-wrap{
	
	.life-nav{
		/*边框底部描边*/
		border-bottom: solid 1px #d3d3d3;
		/*流式布局,*/
		display: flex;
		flex-direction: row;
		/*子元素上下居中*/
		align-items: center;
		/*子元素两边对齐*/
		justify-content: space-between;
		min-width: 900px;

		padding-right: 40px;
		
		.tabs{
			height: 60px;
			line-height: 60px;
			font-size: 18px;
			min-width: 480px;
			
			span{
				display: inline-block;
				width: 160px;
				height: 60px;
				text-align: center;
				cursor: pointer;
				box-sizing: border-box;
			}

			.active{
				border-bottom: solid 4px #000; 
			}
		}

		.save{
			display: inline-block;
			float: right;
			width: 160px;
			height: 40px;
			background-image: url(../../resources/images/save.png);
			cursor: pointer;
		}

		.save:hover{
			background-image: url(../../resources/images/save-hover.png);
		}
	}
	
	/*正念生活内容区*/
	.life-content{
		margin-top: 60px;
		margin-left: 60px;


		.tab-content{
			min-width: 800px;

			.item{
				display: flex;
				flex-direction: row;
				margin-bottom: 20px;

				.item-label{
					display: flex;
					flex-direction: row;
					align-items: center;
				
					.label{
						width: 100px;
						font-size: 16px;
						text-align: center;
					}

					.checkbox{
						height: 30px;
						width: 30px;
						cursor: pointer;
						background-image: url(../../resources/images/checkbox.png);
					}
					
					.checked {
						background-image: url(../../resources/images/checkbox-choosed.png);
					}
				}

				.item-content{
					display: flex;
					flex-direction: row;
					align-items: center;

					span{
						margin-right: 5px;
						display: block;
						height: 40px;
						line-height: 40px;
					}

					textarea{
						height: 200px;
						width: 360px;
						border: solid 1px #c3c3c3;
						font-size: 16px;
						resize: none;
						/*去掉focus边框*/
						outline: none;
						padding-top: 5px;
						padding-left: 5px;
					}

					textarea:disabled , .gray{
						background-color:rgb(235, 235, 228);
					}


					@media (min-width: 1920px){
						textarea{
							width: 660px;
						}
					}

					.loading{
						width: 170px;
						height: 40px;
						span{
							width: 20px;
							height: 20px;
						}
					}
				}
					
				

				.top-align{
					align-self: flex-start;
				}



				.add-music{
					height: 40px;
					width: 300px;
					text-align: center;
					background-color: #fff;
					font-size: 15px;
					color: #c3c3c3;
					border: solid 1px #c3c3c3;
					cursor: pointer;

				}

				@media (min-width: 1920px){
					.add-music{
						width: 600px;
					}
				}

				.sound{
					height: 40px;
					width: 40px;
					background-size: cover;
					margin-right: 10px;
					cursor: pointer;
					background-image: url(../../resources/images/sound-close.png);
				}
				.open{
					background-image: url(../../resources/images/sound-open.png);
				}

			}
		}
	}
}